/*------ MEDIA QUERIES -------*/

@media (max-width: 800px){

    #container {
        
        grid-template-columns: auto auto auto auto;
    }
 }

 @media (max-width: 650px){

    #container {
        
        grid-template-columns: auto auto auto;
    }
 }

 @media (max-width: 470px){

    #container {
        
        grid-template-columns: auto auto;
    }

    
 }

 @media (max-width: 300px){

    #container {
        
        grid-template-columns: auto auto;
    }

    .card-pokemon{
        margin:5px;
    }

 }

 @media (max-width: 253px){

    #container {
        
        grid-template-columns: auto;
    }

 }

 @media (min-width: 1080px){

    .container{
        width: 90%;
    }

    .card-pokemon{
        margin:30px;
        width: calc(107px + 30%);
        height: calc (132px + 30%);
    }

    img{
        height: calc(89px+10%);
        width: calc(84px +10%);
    }

    .pokeName{
        font-size: 15px;
    }

    .pokeType{
        font-size: 10px;
    }

    .pokeInfo{
        height: 40px;
    }


 }

 