body{
    display: flex;
    background: #fff;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 100%;
}

.header{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-weight:700;
    background-color: #0f0f0f;
    width: 100%;
    height: 30px;
    color: #fff;
    
}

#img-header{
    width: 30px;
    height: 30px;
    margin: 0 0 0 5px;
}

#container {
    width: 80%;
    display:grid;
    margin-top: 30px;
    grid-template-columns: auto auto auto auto auto ;
    justify-content: center;
}

.card-pokemon{
    background: #f2f2f2;
    margin:10px;
    width: 107px;
    height: 132px;
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

img{
    height: 89px;
    width: 84px;
}

.pokeInfo {

    width: 80%;
    height: 30px;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pokeName {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    color: #0f0f0f;
    font-size: 10px;
    text-align: center;
}

.pokeType {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    color: #504d4d;
    font-size: 7px;
    margin-top:0;
}

 .first-letter{
    text-transform:capitalize;
 }

 img:hover{

    
    width: 127px;
    height:142px;
    

 }



 
